p{
    color : red;
}

/* 기본선택자 : 문서 내의 모든 요소를 의미하는 기호다.

1. * [전체 선택자]
{
    color:blue;
}

2. p [태그 선택자 : 주어진 이름을 가진 요소를 선택한다. '유형 선택자'라고 한다.] 
{
    color : blue;
}

3. text [클래스 선택자 : 주어진 class 속상값을 가진 요소를 선택한다.]
[주어진 class 속성값을 가진 요소가 다수일 경우, 해당 요소를 모두 선택한다.]
=> 문서 내 class가 "text" 인 모든 요소의 글자 색을 파란색으로 지정한다.
.text{

    color : blue;

}

4.#topic [아이디 선택자 : 주어진 id 속성값을 가진 요소를 선택한다. id는 고유한 식별자 역할을 하는 전역 속성이다.]
[문서 내 id가 "topic"인 요소의 글자 색을 파란 색으로 지정한다. 
#topic{
    color : blue;
}

5. 그룹 선택자
- 다양한 유형의 요소를 한꺼번에 선택하고자 할 떄 사용한다.
- 쉼표(,)를 이용해 선택자를 그룹화한다.
- 문서 내 모든 h1, p, div 태그 요소의 글자 색을 파란색으로 지정한다. 
h1, p, div{
    color : blue;
}

6. 선택자가 겹치는 경우
- 선택자가 겹치는 경우 기본적으로 나중에 작성된 스타일이 적용된다.
- 우선순위 
1. 아이디 선택자 > 클래스 선택자 > 태그 선택자 순서로 진행된다.


*/
